[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kldtools"]
	path = kldtools
	url = https://github.com/cran/kldtools
[submodule "pamr"]
	path = pamr
	url = https://github.com/cran/pamr
[submodule "shipunov"]
	path = shipunov
	url = https://github.com/cran/shipunov
[submodule "smirnov"]
	path = smirnov
	url = https://github.com/cran/smirnov
[submodule "tapkee"]
	path = tapkee
	url = https://github.com/cran/tapkee
